
table{
    margin-top: 2rem;
    border: 2px solid black;
}

td{
    border: 1px solid;
}


button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.0em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover{
    border-color: rgb(230, 45, 76); 
    background: #646cff;
}

#td-btn{
    text-align: center;
}

.updateBtn{
    margin-top: 20px;
    background: rgb(247, 44, 78);
}

.updateBtn:hover{
    background: skyblue;
    color: rgb(247, 44, 78);
}